.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.latest {
  display: flex;
}

.latest-topics, .latest-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
